header#banner.hero-unit
  .container
    h1 Welcome to reddito
    p.lead One link to rule them all

.container
  form(name='linkForm', ng-show='$ctrl.isLoggedIn()')
    .form-group
      input.form-control(type='text', placeholder='Title:', ng-model='$ctrl.newLink.title', requiered)
    .form-group
      input.form-control(type='text', placeholder='URL:', ng-model='$ctrl.newLink.url',required)
    button.btn.btn-primary(type='submit', ng-click='$ctrl.addLink()', ng-disabled='linkForm.$invalid') Add New
  .row
    .col-lg-12
      h1.page-header Listing links
      table.table.table-stripped
        thead
          th Title
          th URL
          th
        tbody
          tr(ng-repeat='link in $ctrl.links')
            td {{ link.title }}
            td 
              a(href='{{ link.url }}') {{ link.url }}
            td(ng-show="$ctrl.getCurrentUser()._id == '{{ link.user }}'")
              button.btn.btn-danger(type='button', ng-click='$ctrl.deleteLink(link)') Delete

  
